/**
* 自定义样式
**/
html, body, div, p, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td {
	margin: 0;
	padding: 0;
}

/**
* 表单输入行样式
**/
.mui-input-row dl {
    overflow: hidden;
    width: 100%;
}
.mui-input-row dl dt {
    float: left;
    font-size: 12px;	
	height:40px;
    line-height: 40px;
	color: #8f8f94;
    width: 25%;
}
.mui-input-row dl dt button {
    height: 38px;
	margin-top:1px;
}
.mui-input-row dl dd {
    float: left;
    height: 40px;
    width: 55%;
}
.mui-input-row dl lable {
    font-size: 12px;	
    line-height: 40px;
	color: #8f8f94;	
	text-align: right;
    width: 20%;	
}
.mui-input-row .mui-input-clear ~ .mui-icon-clear {
    right:20%;
}
.mui-input-row dl dd button {
    font-size: 12px;	
    -moz-user-select: text;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    height: 40px;
    line-height: 21px;
    margin-bottom: 15px;
    outline: 0 none;
    padding: 10px 15px;
    width: 100%;
	color: #8f8f94;	
	text-align: left;	
}

/**
* MUI样式覆盖
**/
/** body整体样式 **/
.ui-page-login, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
.mui-content {
	height: 100%;
}
.mui-fullscreen {
	position: fixed;
	z-index: 20;
	background-color: #000;
}

/** 头部样式 **/
.mui-bar .mui-pull-left, .mui-bar .mui-pull-right, .mui-bar .mui-btn-link {
	color: #ffffff !important;
}
.mui-navbar {
	position: fixed;
	right: 0;
	left: 0;
	z-index: 10;
	height: 44px;
	background-color: #f7f7f8;
}
.mui-navbar .mui-bar {
	position: absolute;
	background: transparent;
	text-align: center;
}
.mui-navbar .mui-btn-nav {
	-webkit-transition: none;
	transition: none;
	-webkit-transition-duration: .0s;
	transition-duration: .0s;
}
.mui-navbar .mui-bar .mui-title {
	display: inline-block;
	width: auto;
}
/** 切换的动画效果 **/
.mui-navbar-inner.mui-transitioning,
.mui-navbar-inner .mui-transitioning {
	-webkit-transition: opacity 300ms ease, -webkit-transform 300ms ease;
	transition: opacity 300ms ease, transform 300ms ease;
}

/** 多页面框架样式 **/
.mui-views, .mui-view, .mui-pages, .mui-page, .mui-page-content {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: #efeff4;
}
.mui-page {
	display: none;
}
.mui-pages .mui-page {
	display: block;
}
.mui-page.mui-transitioning {
	-webkit-transition: -webkit-transform 300ms ease;
	transition: transform 300ms ease;
}
.mui-page-left {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.mui-ios .mui-page-left {
	-webkit-transform: translate3d(-20%, 0, 0);
	transform: translate3d(-20%, 0, 0);
}
.mui-page-shadow {
	position: absolute;
	right: 100%;
	top: 0;
	width: 16px;
	height: 100%;
	z-index: -1;
	content: '';
}
.mui-page-shadow {
	background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, .01) 50%, rgba(0, 0, 0, .2) 100%);
	background: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, .01) 50%, rgba(0, 0, 0, .2) 100%);
}

.mui-scroll-wrapper, .mui-scroll {
	background-color: #efeff4;
}

/**
* MUI样式扩展
**/
/** 排序 **/
.table-sort-by {
	background: #fff;
}
.table-sort-by .mui-control-item{
    border-bottom: 2px solid #efeff4 !important;
}
.table-sort-by .mui-control-item.mui-active {
    border-bottom: 2px solid #007aff !important;
}
.table-sort-by .arrow_up, .mui-segmented-control .arrow_down {
	width: 0px;
	height: 0px;
	font-size: 0;
	line-height: 0;
	border-color: #fff #fff #a5a5a5 #fff;
	border-width: 0px 5px 5px;
	display: inline-block;
	border-style: solid;
	position: relative;
	top: -6px;
	left: 5px;
}
.table-sort-by .arrow_down {
	border-color: #a5a5a5 #fff #fff #fff;
	border-width: 5px 5px 0px;
	position: relative;
	top: 2px;
	left: -5px;
}
.table-sort-by .active_up {
	border-color: #fff #fff #fcbb00 #fff;
}
.table-sort-by .active_down {
	border-color: #fcbb00 #fff #fff #fff;
}

/**分类**/
.category .mui-table-view {
	margin-top: 0px;
}
.category .mui-row.mui-fullscreen>[class*="mui-col-"] {
	height: 100%;
}
.category .mui-col-xs-3,
.category .mui-col-xs-9 {
	overflow-y: auto;
	height: 100%;
}
.category .mui-segmented-control .mui-control-item {
	line-height: 50px;
	width: 100%;
}
.category .mui-control-content {
	display: block;
}
.category .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
	background-color: #fff;
}