@CHARSET "UTF-8";
body {
    background-color: #ffffff !important;
}

*, *::before, *::after {
    box-sizing: border-box !important;
}
*, *::before, *::after {
    box-sizing: border-box !important;
}

.page-content {
    margin-left: 300px;
    margin-top: 0;
    min-height: 260px;
}

.article_left dt, dd {
    line-height: 1.42857;
    margin: 0;	
}

.article_left {
    background: rgba(0, 0, 0, 0) url("/modules/cms/images/blog_left.jpg") no-repeat scroll 0 0 / 100% 100%;
    color: #333;
    height: 100%;
    padding: 30px 60px 50px 30px;
    position: fixed;
    width: 300px;
}

@media only screen and (max-width: 1280px) {
	.article_left {
        width: 250px;
    }
    
    .page-content {
        margin-left: 250px;
        margin-top: 0;
        min-height: 760px;
    }
}

.article_left .article_copyright {
    bottom: 25px;
    left: 30px;
    position: fixed;
}

.article_left .article_l_c .article_l_t {
    color: #333;
    font-size: 24px;
}
.article_left .article_l_c .article_l_sign {
    color: #333;
    font-size: 14px;
    padding: 10px 0 30px;
}
.article_left .article_l_c .item_wrap {
    margin-left: -15px;
    overflow: hidden;
    padding-bottom: 20px;
}
.article_left .article_l_c .item_wrap .item_l {
    float: left;
    margin: 0 20px 20px 0;
    text-align: center;
    width: 50px;
}
.article_left .article_l_c .item_wrap .item_l .item_value {
    color: #333;
    font-size: 24px;
    font-weight: bold;
}
.article_left .article_l_c .item_wrap .item_l .item_name {
    font-size: 12px;
}

.article_left .article_copyright {
    bottom: 25px;
    left: 30px;
    position: fixed;
}
.article_left .article_copyright p {
    color: #8a8a8a;
    font-size: 12px;
    line-height: 20px;
}