.text-red {
  color: #dd4b39 !important;
}
.text-yellow {
  color: #f39c12 !important;
}
.text-aqua {
  color: #00c0ef !important;
}
.text-blue {
  color: #0073b7 !important;
}
.text-black {
  color: #111111 !important;
}
.text-light-blue {
  color: #3c8dbc !important;
}
.text-green {
  color: #00a65a !important;
}
.text-gray {
  color: #d2d6de !important;
}
.text-navy {
  color: #001f3f !important;
}
.text-teal {
  color: #39cccc !important;
}
.text-olive {
  color: #3d9970 !important;
}
.text-lime {
  color: #01ff70 !important;
}
.text-orange {
  color: #ff851b !important;
}
.text-fuchsia {
  color: #f012be !important;
}
.text-purple {
  color: #605ca8 !important;
}
.text-maroon {
  color: #d81b60 !important;
}

.img-circle {
	width: 29px;
	height: 29px; 
	border-radius: 50% !important;
	margin-right: 5px; 
	display: inline-block;
}

.filter_column_select {	
    padding: 0px !important;	
}

.filter_column.filter_select select {	
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #c2cad8;
	    
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    display: block;
}

body.theme-blue,
body.theme-blue .page-sidebar {
	background-color: #4276a4 !important;
}

body.theme-grey,
body.theme-grey .page-sidebar {
	background-color: #707b88 !important;
}

body.theme-light,
body.theme-light .page-sidebar {
	background-color: white !important;
}

body.theme-light2,
body.theme-light2 .page-sidebar {
	background-color: #f6f6f6 !important;
}

#edui_fixedlayer{  
    z-index: 10005 !important;  
}