#cms_article {
    margin-top: 0;
    min-height: 760px;
}

#cms_article {
    margin-left: 250px !important;
}
.page-sidebar-closed #cms_article {
    margin-left: 250px !important;
}

@media only screen and (max-width: 1280px) {
	#cms_article .page-content {
	    margin-left: 250px !important;
	}
	.page-sidebar-closed #cms_article .page-content {
	    margin-left: 250px !important;
	}
}

#cms_article {
	margin-right: 225px;
}

.page-sidebar-closed #cms_article {
	margin-right: 35px;
}

.article_left dt, dd {
    line-height: 1.42857;
    margin: 0;	
}

.article_left {
    background: rgba(0, 0, 0, 0) url("/assets/syrator/modules/cms/images/blog_left.jpg") no-repeat scroll 0 0 / 100% 100%;
    color: #333;
    height: 100%;
    padding: 30px 60px 50px 30px;
    position: fixed;
    width: 300px;
}
@media only screen and (max-width: 1280px) {    
	.article_left {
        width: 250px;
    }
}

.article_left .article_copyright {
    bottom: 25px;
    left: 30px;
    position: fixed;
}

.article_left .article_l_c .article_l_t {
    color: #333;
    font-size: 24px;
}
.article_left .article_l_c .article_l_sign {
    color: #333;
    font-size: 14px;
    padding: 10px 0 30px;
}
.article_left .article_l_c .item_wrap {
    margin-left: -15px;
    overflow: hidden;
    padding-bottom: 20px;
}
.article_left .article_l_c .item_wrap .item_l {
    float: left;
    margin: 0 20px 20px 0;
    text-align: center;
    width: 50px;
}
.article_left .article_l_c .item_wrap .item_l .item_value {
    color: #333;
    font-size: 24px;
    font-weight: bold;
}
.article_left .article_l_c .item_wrap .item_l .item_name {
    font-size: 12px;
}

.article_left .article_copyright {
    bottom: 25px;
    left: 30px;
    position: fixed;
}
.article_left .article_copyright p {
    color: #8a8a8a;
    font-size: 12px;
    line-height: 20px;
}

#sidebar_article_right {
	right: 0px;
    height: 100%;
    position: fixed;
}

.page-logo-cms {
	float: left;
	display: block;
	width: 235px;
	height: 50px;
	padding-left: 20px;
	padding-right: 20px;
}

.page-logo-cms .logo-default {
    margin: 18px 0 0;
}